$colorPrimary: #f28665;
$colorSecondary: #ffca0f;
$colorDark: #1263a1;
$colorLight: #f1e8cd;


@mixin phone-only {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin xsmall {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin small {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 1200px) {
    @content;
  }
}